  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 MA Software Services LLC</span>
    </div>

    <hr class="border-0">
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="/compose">Create</li>
      <li class="ms-3"><a class="text-muted" href="/profile">Profile</li>
      <li class="ms-3"><a class="text-muted" href="/">About</li>
    </ul>
  </footer>