<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BlueProject</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>

	<main>

		{{ template "header.tmpl" }}

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light"> {{ .Plan.ProjectSummary.Title }} </h1>
					<p class="lead text-muted">Solving {{ .Plan.ProjectSummary.Problem }}</p>
					<p class="lead text-muted">For {{ .Plan.ProjectSummary.TargetAudience }}</p>
				</div>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">
							<img style src="{{(index .ImageURLS 0).URL}}" class="bd-placeholder-img card-img" />
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<img src="{{(index .ImageURLS 1).URL}}" class="bd-placeholder-img card-img" />
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<img src="{{(index .ImageURLS 2).URL}}" class="bd-placeholder-img card-img" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-light">
			<div class="container px-4 py-5">
				<h2 class="pb-2 border-bottom">Goals</h2>
				<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
					<div class="d-flex flex-column align-items-start gap-2">
						<h3 class="fw-bold">Short Term Goals</h3>
					</div>
					<div class="row g-4">
						<div class="d-flex flex-column gap-2">
							<p class="fw-normal mb-0">{{ .Plan.Plan.Goals.ShortTerm }}</p>
							<div
								class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
								<svg class="bi" height="0.25em">
									<use xlink:href="#collection"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
				<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
					<div class="d-flex flex-column align-items-start gap-2">
						<h3 class="fw-bold">Long Term Goals</h3>
					</div>
					<div class="row g-4">
						<div class="d-flex flex-column gap-2">
							<p class="fw-normal mb-0">{{ .Plan.Plan.Goals.LongTerm }}</p>
							<div
								class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
								<svg class="bi" height="0.25em">
									<use xlink:href="#collection"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container px-4 py-5">
			<h2 class="pb-2 border-bottom">Tasks</h2>
			<div class="row  row-cols-1 row-cols-md-2 g-4">
				{{ range .Plan.Plan.Tasks }}
				<div class="col">
					<div class="card">
						<div class="card-header">
							{{ .Name }}
						</div>
						<div class="card-body">
							<p class="card-text">{{ .Description }}</p>
						</div>
						<div class="card-footer text-muted">
							Duration: ~{{ .Duration }}
						</div>
					</div>
				</div>
				{{ end }}
			</div>
		</div>


		<div class="container px-4 py-5" id="hanging-icons">
			<h2 class="pb-2 border-bottom">Expected Features</h2>
			<div class="row g-4 py-5">
				<ul class="list-group list-group-numbered">
					{{ range .Plan.ProjectSummary.KeyFeatures }}
					<li class="list-group-item"> {{ . }} </li>
					{{ end }}
				</ul>
			</div>
		</div>

		<div class="bg-light">
			<div class="container px-4 py-5" id="hanging-icons">
				<h2 class="pb-2 border-bottom">Required Support</h2>
				<div class="row g-4 py-5">
					<ul class="list-group list-group-numbered">
						{{ range .Plan.ProjectSummary.RequiredSupport }}
						<li class="list-group-item"> {{ . }} </li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>

		<div class="container px-4 py-5" id="hanging-icons">
			<h2 class="pb-2 border-bottom">Success Indicators</h2>
			<div class="row g-4 py-5">
				<ul class="list-group list-group-numbered">
					{{ range .Plan.ProjectSummary.SuccessIndicators }}
					<li class="list-group-item"> {{ . }} </li>
					{{ end }}
				</ul>
			</div>
		</div>

	</main>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>